<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Contactos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="back">
  <ion-img
    src="https://scontent.fvup1-1.fna.fbcdn.net/v/t39.30808-6/300843994_383566270618712_5411787106735091531_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=e3f864&_nc_ohc=saM9xspYRUcAX_WeH-m&_nc_ht=scontent.fvup1-1.fna&oh=00_AfCz6My2fxF3r52iOwN3lb9cA0gjqMUW2cFNEfxhl-jsgA&oe=645B038F"
    alt="Upc-Contacto"
  ></ion-img>

  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Financiera</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list>
          <ion-item>
            <ion-label>
              Dirección Administrativa <br />
              y Financiera
              <h4>Juvenal Flórez Vergara</h4>
              <h6>financieraaguachica@<br>unicesar.edu.co</h6>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              Secretaria Dirección Administrativa <br />y Financiera
              <h4>Martha Emilia Álvarez Jiménez</h4>
              <h6>financieraaguachica@<br>unicesar.edu.co</h6>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Apoyo Universitario</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item>
          <ion-label>
            Apoyo a calidad
            <h4>Andrea Johana Navarro <br> Claro</h4>
            <h6>gestiondecalidadaguachica@<br>unicesar.edu.co</h6>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Biblioteca
            <h4>Gonzalo Trespalacios <br>González</h4>
            <h6>bibliotecaaguachica@<br>unicesar.edu.co</h6>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Bienestar Institucional
            <h4>Flor Moncada Ariza</h4>
            <h6>bienestaraguachica@<br>unicesar.edu.co</h6>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Oficina de PQRS
            <h4>Iván Darío Campo<br> Calderón</h4>
            <h6>pqrsaguachica@<br>unicesar.edu.co</h6>
          </ion-label>
        </ion-item>
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Registro y Control</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item>
          <ion-label>
            Centro de Admisiones,<br> Registro y Control<br> Académico
            <h4>María Irene Obregón Ropero</h4>
            <h4>Sandra Milena Paez Ríos</h4>
            <h4>Yairis Johana Daza Mejía</h4>
            <h6>registroaguachica@<br>unicesar.edu.co</h6>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Oficina Registro y Control<br> Académico
            <h4>Deime Fernando Martínez<br> Ruiz</h4>
            <h4>registroaguachica@<br>unicesar.edu.co</h4>
            <h4>inscripcionesaguachica@<br>unicesar.edu.co</h4>
          </ion-label>
        </ion-item>
      </div>
    </ion-accordion>
    <ion-accordion value="forth">
      <ion-item slot="header" color="light">
        <ion-label>Psicologia</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item>
          <ion-label>
            José Luis Olarte
            <h4>Psicólogo</h4>
            <h6>Docente Líder POPS y <br>Psicólogo PEBI</h6>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Edith Uribe
            <h4>Psicóloga</h4>
            <h6>Docente y Psicóloga PEBI</h6>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Carolina Garcia Fernández
            <h4>Psicóloga</h4>
            <h6>Bienestar Institucional</h6>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Breatriz Arias
            <h4>Psicóloga</h4>
            <h6>Docente PEBI</h6>
          </ion-label>
        </ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
