<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Servicios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="back">
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/icon/salud.jpg" />
    <ion-card-header>
      <ion-card-title>Salud</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      El Bienestar visto como apoyo institucional para el desarrollo de las actividades misionales de la Universidad, investigación, docencia y extensión, constituye un pilar fundamental que proporciona los mecanismos sociales y humanos bajo los cuales se posibilita la formación integral de la comunidad estudiantil, su permanencia y perseverancia en el proceso de formación. De igual forma, fortalece el nivel de bienestar de la comunidad Upecista y contribuye en el desarrollo integral de ésta.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/icon/deporte.png" />
    <ion-card-header>
      <ion-card-title>Deporte</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      El Bienestar visto como apoyo institucional para el desarrollo de las actividades misionales de la Universidad, investigación, docencia y extensión, constituye un pilar fundamental que proporciona los mecanismos sociales y humanos bajo los cuales se posibilita la formación integral de la comunidad estudiantil, su permanencia y perseverancia en el proceso de formación. De igual forma, fortalece el nivel de bienestar de la comunidad Upecista y contribuye en el desarrollo integral de ésta.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/icon/cultura.jpg" />
    <ion-card-header>
      <ion-card-title>Cultura</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      El Bienestar visto como apoyo institucional para el desarrollo de las actividades misionales de la Universidad, investigación, docencia y extensión, constituye un pilar fundamental que proporciona los mecanismos sociales y humanos bajo los cuales se posibilita la formación integral de la comunidad estudiantil, su permanencia y perseverancia en el proceso de formación. De igual forma, fortalece el nivel de bienestar de la comunidad Upecista y contribuye en el desarrollo integral de ésta.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/icon/pebi.jpg" />
    <ion-card-header>
      <ion-card-title>PEBI</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      La Universidad Popular del Cesar, emanó el Acuerdo No. 005 del 17 de febrero de 2014, en el cual considera que la permanencia y graduación estudiantil tiene como propósito disminuir el fenómeno de la deserción estudiantil el cual afecta al sistema educativo disminuyendo los indicadores en cobertura, calidad, eficiencia y equidad educativas, así mismo el desarrollo de la misión y visión de la Universidad Popular del Cesar seccional Aguachica. La estrategia fundamental para la creación del programa de permanencia y graduación en la Universidad Popular del Cesar, que lleva por nombre Permanencia y Bienestar Institucional – PEBI, está enmarcado en el desarrollo del “Acuerdo Nacional para disminuir la deserción estudiantil en educación superior”, el cual compromete tres ejes fundamentales: el fortalecimiento de la financiación de la educación superior.
    </ion-card-content>
  </ion-card>


</ion-content>